

@font-face {
    font-family: 'Varela Round';
    src: url('/assets/fonts/VarelaRound-Regular.woff2') format('woff2'),
        url('/assets/fonts/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
}


body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 550px) {
    #header {
        text-align: center;
    }
    
    .header-text {
        margin-bottom: 0 !important;
    }
    #footer {
        text-align: center;
    }
    #rightlink {
        float: none !important;
    }
}


h1 {
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    margin: 0;

}
    


#header {
    padding-bottom: 0.3em;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-sizing: border-box;
    border-bottom: 5px solid;
    border-image:linear-gradient(to right,
    #c55b5b 0%, #d6a05e 16.7%, #d6cd5e 33.4%, #49855b 50.1%, #5e82d6 66.8%, #834f8b 83.5%, #834f8b 100.2%) 10;
    margin-bottom: 2em;
}

#header .logo {
    width: 5em;
    margin-right: 1em;
    height: auto;
    margin-top: 0.5em;
}

#header .header-text {
    margin-bottom: 0.5em;
    display: inline-block;
}
    


#gayicon {
    float: left;
    background: -moz-linear-gradient(-45deg, #c55b5b 0%, #c55b5b 16.7%, #d6a05e 16.7%, #d6a05e 33.4%, #d6cd5e 33.4%, #d6cd5e 50.1%, #49855b 50.1%, #49855b 66.8%, #5e82d6 66.8%, #5e82d6 83.5%, #834f8b 83.5%, #834f8b 100.2%);
    background: linear-gradient(-45deg, #c55b5b 0%, #c55b5b 16.7%, #d6a05e 16.7%, #d6a05e 33.4%, #d6cd5e 33.4%, #d6cd5e 50.1%, #49855b 50.1%, #49855b 66.8%, #5e82d6 66.8%, #5e82d6 83.5%, #834f8b 83.5%, #834f8b 100.2%);
    background: -webkit-linear-gradient(-45deg, #c55b5b 0%, #c55b5b 16.7%, #d6a05e 16.7%, #d6a05e 33.4%, #d6cd5e 33.4%, #d6cd5e 50.1%, #49855b 50.1%, #49855b 66.8%, #5e82d6 66.8%, #5e82d6 83.5%, #834f8b 83.5%, #834f8b 100.2%);
    background-size: auto;
    border-radius: 10px;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: #eceeef;
}


.contentcontainer {
    box-sizing: border-box;
    margin: 0 5% 2em 5%;
    padding: 1em;
    width: 90%;
    border-radius: 20px;
    line-height: 1.6;
}

h2, h3 {
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    margin: 0;
}

p {
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    margin: 0;
}

hr {
    height: 4px;
    border-radius: 5px;
    border: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background: -moz-linear-gradient(left, #c55b5b 0%, #d6a05e 16.7%, #d6cd5e 33.4%, #49855b 50.1%, #5e82d6 66.8%, #834f8b 83.5%, #834f8b 100.2%);
}

footer {
    margin-top: auto;
}

#footer {
    overflow: hidden;
    min-height: 5em;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-sizing: border-box;
    border-top: 5px solid;
    border-image:linear-gradient(to right,
    #c55b5b 0%, #d6a05e 16.7%, #d6cd5e 33.4%, #49855b 50.1%, #5e82d6 66.8%, #834f8b 83.5%, #834f8b 100.2%) 10;
}

.linkIcon {
    height: 0.9em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.2em
}

.link {
    display: inline-block;
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    font-size: 1.3em;
    text-decoration: none;
    
}

#footerLinks {
    margin: 1.5em;
}

#rightlink {
    float: right;
}

.contentcontainer img {
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
}
