

@font-face {
    font-family: 'Varela Round';
    src: url('/assets/fonts/VarelaRound-Regular.woff2') format('woff2'),
        url('/assets/fonts/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

@media only screen and (max-width: 550px) {
    .header {
        text-align: center;
    }
}


h1 {
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    margin: 0;

}
    


.header {
    min-height: 5em;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-sizing: border-box;
    border-bottom: 5px solid;
    border-image:linear-gradient(to right,
    #c55b5b 0%, #d6a05e 16.7%, #d6cd5e 33.4%, #49855b 50.1%, #5e82d6 66.8%, #834f8b 83.5%, #834f8b 100.2%) 10;
}

.header .logo {
    width: 5em;
    margin-right: 1em;
    height: auto;
    margin-top: 0.5em;
}

.header .header-text {
    margin-bottom: 0.5em;
    display: inline-block;
}
    


#gayicon {
    float: left;
    background: -moz-linear-gradient(-45deg, #c55b5b 0%, #c55b5b 16.7%, #d6a05e 16.7%, #d6a05e 33.4%, #d6cd5e 33.4%, #d6cd5e 50.1%, #49855b 50.1%, #49855b 66.8%, #5e82d6 66.8%, #5e82d6 83.5%, #834f8b 83.5%, #834f8b 100.2%);
    background-size: auto;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: #eceeef;
}


.about {
    box-sizing: border-box;
    margin: 2em 5% 2em 5%;
    padding: 1em;
    width: 90%;
    border-radius: 20px;
}

h2 {
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    margin: 0;
}

p {
    font-family: 'Varela Round'; font-weight: normal; font-style: normal;
    margin: 0;
}

hr {
    height: 4px;
    border-radius: 5px;
    border: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background: -moz-linear-gradient(left, #c55b5b 0%, #d6a05e 16.7%, #d6cd5e 33.4%, #49855b 50.1%, #5e82d6 66.8%, #834f8b 83.5%, #834f8b 100.2%);