:root {
    --tertiary-color: #868f9d;
    --secondary-color:  #383c41;
    --font-color: #eceeef;
    --primary-color: #5c6370;
}

html {
    scrollbar-color: var(--primary-color) var(--secondary-color);
}

body {
    background-color: var(--secondary-color);
}

#header {
    background-color: var(--primary-color);
}

h1 {
    color: var(--font-color);
}

.contentcontainer {
    background-color: var(--primary-color)
}

h2, h3 {
    color: var(--font-color);
}

p {
    color: var(--font-color);
}

#footer {
    background-color: var(--primary-color);
}

.link {
    color: var(--font-color);
}

#footer a, a:visited, a:hover, a:active {
  color: var(--font-color);
}

.linkIcon {
    fill: var(--font-color);
}