:root {
    --secondary-color:  #383c41;
    --font-color: #eceeef;
    --tertiary-color: #5c6370;
}

body {
    background-color: var(--secondary-color);
}

.header {
    background-color: var(--tertiary-color);
}

.header h1 {
    color: var(--font-color);
}

.about {
    background-color: var(--tertiary-color)
}
